<link rel="stylesheet" href="../css/header.css">
<header class="site-header">
    <!-- logo perusahaan -->
    <div class="header-left">
        <img src="../pic/logo.png" alt="logo" class="logo">
    </div>
    <div class="header-right">
        <nav>
            <ul class="nav-menu"> 
                <li><a href="#">Home page</a></li>
                <li><a href="#">Statistics</a></li>
                <li><a href="#">Tentang Kami</a></li>
            </ul>
        </nav>
        <div class="user-profile">
                <!-- Ganti path gambar dengan foto profil yang diinginkan -->
                <img src="https://via.placeholder.com/40" alt="Foto Profil">
                <span>John Doe</span>
            </div>
        </div>
    </div>
</header>
